.legit{
    width: 1000px;
    height: 500px;
    z-index:2;
    opacity: 0.00001;
    border: none;
}

.button{
    background-color:black;
    color:white;
    z-index: 0;
    top: 455px;
    left: 308px;
    position: absolute;
}